<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/noid2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/noid2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NOIDMerchant"
        tools:targetApi="31">

        <activity
            android:name=".gui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".gui.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".gui.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".gui.BuyProductActivity"
            android:exported="false" />

        <activity
            android:name=".gui.InformationsActivity"
            android:exported="false">



            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


        <activity
            android:name=".gui.StatisticsActivity"
            android:exported="false" />

        <activity
            android:name=".gui.OrdersActivity"
            android:exported="false" />

        <activity
            android:name=".gui.ProductsActivity"
            android:exported="false" />


        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


    </application>

</manifest>